.copyright {
	@include flexrow(center);
	width: 100%;
	padding: 20px 0 20px 0;
	background: black;

	&__name {
		color: $color-theme;
		@include transition;
		&:hover {
			color: lighten($color-theme, 20%);
		}
		&:active {
			color: darken($color-theme, 20%);
		}
	}

	&__left,
	&__right {
		width: calc(50% - 10px);
		color: white;
		text-shadow: 0px 1px 2px black;
		font-family: $font-bold;
	}

	&__left {
		text-align: right;
		padding: 0 10px 0 0;
	}

	&__right {
		text-align: left;
		padding: 0 0 0 10px;
	}
}
