.copyright {
	@include flexrow(center);
	width: 100%;
	padding: 20px 0 20px 0;
	background: black;
	@media only screen and (max-width: 600px) {
		@include flexcol(center);
	}

	&__name {
		color: $color-theme;
		@include transition;
		&:hover {
			color: lighten($color-theme, 20%);
		}
		&:active {
			color: darken($color-theme, 20%);
		}
	}

	&__left,
	&__right {
		color: white;
		text-shadow: 0px 1px 2px black;
		font-family: $font-bold;
	}

	&__left {
		padding: 0 10px 0 0;
		@media only screen and (max-width: 600px) {
			padding: 0 0 10px 0;
		}
	}

	&__right {
		padding: 0 0 0 10px;
		@media only screen and (max-width: 600px) {
			padding: 10px 0 0 0;
		}
	}
}
