/*
    Load fonts
*/

$font-regular: "Montserrat Regular";
$font-bold: "Montserrat Bold";

@font-face {
	font-family: $font-regular;
	src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: $font-bold;
	src: url(../fonts/Montserrat-Bold.ttf);
}
