/*
	Navbar styles
*/

.navbar {
	@include flexrow(center, center);
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 13;

	.container {
		height: 100%;
		background: $color-2;
		box-shadow: 0px 0px 5px black;
		@include flexrow(space-between, center);
	}

	&__title {
		@include flexrow(flex-start, center);
		color: $color-4;
		text-shadow: 0px 1px 2px black;
		.logo {
			margin: 0 0 0 20px;
			border-radius: 50%;
			box-shadow: 0px 0px 1px $color-3;
			@media only screen and (max-width: 450px) {
				width: 40px;
			}
		}
		.name {
			padding: 0 0 0 10px;
			@media only screen and (max-width: 450px) {
				font-size: 15pt;
			}
		}
	}

	&__section {
		@media only screen and (max-width: 850px) {
			display: none;
		}
	}

	&__section-item {
		.link {
			background: transparent;
			display: block;
			padding: 15px 20px 15px 20px;
			border-radius: 5px;
			color: $color-3;
			@include transition;
			&:hover {
				color: $color-4;
				background: lighten($color-2, 5%);
			}
		}
	}

	&__trigger {
		display: none;
		width: 50px;
		height: 50px;
		box-shadow: 0px 1px 2px black;
		color: white;
		font-size: 17pt;
		border: 3px $color-theme solid;
		border-radius: 50%;
		cursor: pointer;
		background: rgba(40, 40, 40, 0.4);
		@include transition;
		&:hover {
			background: $color-theme;
		}
		&:active {
			font-size: 11pt;
			box-shadow: 0px 0px 10px black;
		}
		@media only screen and (max-width: 850px) {
			@include flexrow(center, center);
		}
	}
}
