/*
	Setup general styles
*/

html,
body {
	width: 100%;
	font-size: 13pt;
	font-family: $font-regular;
	background: $color-4;
}

.body-time-0 {
	background: url(../images/background-illustration-0.jpg) center center fixed
		no-repeat;
	background-size: cover;
}

.body-time-1 {
	background: url(../images/background-illustration-1.jpg) center center fixed
		no-repeat;
	background-size: cover;
}

.body-time-2 {
	background: url(../images/background-illustration-2.jpg) center center fixed
		no-repeat;
	background-size: cover;
}

.body-time-3 {
	background: url(../images/background-illustration-3.jpg) center center fixed
		no-repeat;
	background-size: cover;
}

// Make bold texts
.bold {
	font-family: $font-bold;
}

// Responsive container
.container {
	width: 1500px;
	@include screen-lg-x {
		width: 100%;
	}
	@include screen-md-x {
		width: 100%;
	}
}

// Remove default padding and margin
html,
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
form,
figure,
pre {
	margin: 0;
	padding: 0;
}

// Override lists
ul {
	display: flex;
	list-style-type: none;
}

// Default inputs
button,
input,
textarea {
	padding: 10px 20px 10px 20px;
	border: none;
	font-size: 13pt;
	font-family: $font-regular;
}

a {
	text-decoration: none;
}

// Remove selection
@mixin no-select {
	user-select: none;
}

// Add some transition
@mixin transition($duration: 0.2s) {
	transition: all $duration ease-out;
}

.paragraph {
	padding: 20px 100px 20px 100px;
	color: $color-6;
	text-align: justify;
	@include screen-lg-x {
		padding: 20px;
	}
}
